:root {
  --cardHeight: min(14vw * 1.4, 104px);
  --cardWidth: min(14vw, 74px);
  --tabColumnWidth: calc(var(--cardWidth) + 20px);
  --cardBackground: #fcfcfc;
  --cardBack: #00b7ff;
  --cardFlipShadow: #20637e;
  --optionsZx: 10000;
  --tableColor: hsl(120, 100%, 25%);
  --cardAnchorBackground: hsl(120, 55%, 44%);
  --modalOverlay: rgba(23, 28, 23, 0.6);
}
body {
  background-color: var(--tableColor);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.cardRow {
  padding: 20px;
}

.foundations {
  padding-top: 20px;
}

.cardPileAnchor {
  border-radius: 5px;
  position: relative;
  width: var(--cardWidth);
  height: var(--cardHeight);
}
.stockPileAnchor {
  justify-self: right;
  /* border-radius: 5px; */
  /* position: relative; */
  /* width: var(--cardWidth); */
  /* height: var(--cardHeight); */
  background: url("restart-26-white.png") center no-repeat;
}

/* anchor is needed as a placeholder to define the x and y limits of the row, used to measure if  dragged card is dropped in a playable row. */
.rowAnchor {
  width: var(--cardWidth);
  height: var(--cardHeight);
  /* border: 1px solid yellow; */
}

.hiddenCard {
  width: var(--cardWidth);
  height: var(--cardHeight);
  visibility: hidden;
  position: fixed;
}

.discardPile {
  justify-self: center;
  margin-left: 20px;
}
